#inputcontainer {
	position: fixed;
	display: flex;
	gap: 10px;
	width: 90%;
	bottom: 15px;
	justify-content: space-between;
	left: 50%;
	transform: translateX(-50%);
}

#messages {
	background: var(--mantle);
	border-radius: 0.5rem;
	padding: 10px;
	width: 90%;
	height: 60%;
	overflow: scroll;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: flex-end;
}
.message {
	height: auto;
	max-width: 90%;
	padding: 10px;
	color: var(--text);
	background-color: var(--base);
}
.message.self {
	background-color: var(--crust);
	border-radius: 0.5rem 0.5rem 0.5rem 0;
}
.message.other {
	background-color: var(--base);
	border-radius: 0.5rem 0.5rem 0 0.5rem;
}
.messageTimestamp {
	font-size: 0.8rem;
	color: var(--subtext0);
	margin-bottom: 5px;
}