html {
	overflow: hidden;
}
#inputcontainer {
	position: fixed;
	display: flex;
	gap: 10px;
	width: 90%;
	bottom: 45px;
	justify-content: space-between;
	left: 50%;
	transform: translateX(-50%);
}
#messageinput {
	flex-grow: 1;
}
#messageswrapper {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
#messages {
	background: var(--mantle);
	border-radius: 0.5rem;
	padding: 10px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	overflow-y: scroll;
	overflow-x: hidden;
	bottom: 100px;
	top: 0;
	height: 60%;
	width: 90%;
	margin: auto;
}
.message {
	height: auto;
	max-width: 55%;
	padding: 10px;
	margin: 5px;
	color: var(--text);
	background-color: var(--base);
}
.message > p {
	overflow-wrap: break-word;
}
.message.self {
	background-color: var(--crust);
	border-radius: 0.5rem 0.5rem 0 0.5rem;
	margin-left: 55%;
}
.message.other {
	background-color: var(--base);
	border-radius: 0.5rem 0.5rem 0.5rem 0;
}
.messageHeader {
	display: flex;
	justify-content: space-between;
}
.messageTimestamp {
	font-size: 0.8rem;
	color: var(--subtext0);
	margin-bottom: 5px;
}
.messageDelete {
	background-color: var(--red);
	transition: background-color 0.2s;
}
.messageDelete:hover {
	background-color: var(--maroon);
	transition: background-color 0.2s;
	color: var(--crust);
}