/* ---------------------------------- root ---------------------------------- */
:root {
	--rosewater: #f4dbd6;
	--flamingo: #f0c6c6;
	--pink: #f5bde6;
	--mauve: #c6a0f6;
	--red: #ed8796;
	--maroon: #ee99a0;
	--peach: #f5a97f;
	--yellow: #eed49f;
	--green: #a6da95;
	--teal: #8bd5ca;
	--sky: #91d7e3;
	--sapphire: #7dc4e4;
	--blue: #8aadf4;
	--lavender: #b7bdf8;
	--text: #cad3f5;
	--subtext1: #b8c0e0;
	--subtext0: #a5adcb;
	--overlay2: #939ab7;
	--overlay1: #8087a2;
	--overlay0: #6e738d;
	--surface2: #5b6078;
	--surface1: #494d64;
	--surface0: #363a4f;
	--base: #24273a;
	--mantle: #1e2030;
	--crust: #181926;

	--border: 1px solid var(--text);

	font-family: "Lexend", sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: var(--text);
	border-color: var(--text);
}
/*custom scrollbar*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 15px;
}
::-webkit-scrollbar-track {
	background: var(--crust);
	border-radius: 15px;
}
::-webkit-scrollbar-thumb {
	background: var(--surface0);
	border-radius: 15px;
	border: 3px solid var(--crust);
}
/*
Notes:
title 26px
h1 20px
h2 16px
h3 14px
h4 12px
h5 11px
h7 11px italic
text 13

quint animation: cubic-bezier(0.64, 0, 0.78, 0)

border radius 15*/
/* ------------------------------ compatibility ----------------------------- */

/* -------------------------------- elements -------------------------------- */
body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: var(--crust);
}
a {
	color: var(--lavender);
}
a:hover {
	color: var(--blue);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	font-weight: 400;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
	color: var(--subtext0);
}
h4,
h5,
h6 {
	color: var(--subtext1);
}
h4 {
	font-size: 12px;
}
h5,
h6 {
	font-size: 11px;
}
h6 {
	font-style: italic;
}
/* ---------------------------------- table --------------------------------- */
table {
	margin: auto;
	border-spacing: 0;
	position: relative;
}

th,
td {
	border-bottom: var(--border);
	border-right: var(--border);
	padding: 0.5rem;
}
th {
	font-size: 16px;
	text-decoration: none;
	font-weight: 450;
}

/* overengineered round table */

table tr td:first-child,
table tr th:first-child {
	border-left: var(--border);
}

table tr th {
	border-top: var(--border);
}

table tr:first-child th:first-child {
	border-top-left-radius: 0.5rem;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 0.5rem;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 0.5rem;
}

table tr:first-child th:last-child {
	border-top-right-radius: 0.5rem;
}
