/* ----------------------------- specific tables ---------------------------- */
/*default*/
#defaultschedule {
    width: 75%;
    border-collapse: separate;
    cursor: pointer;
    background-color: var(--crust);
}
/* ------------------------------ options table ----------------------------- */
