/* ----------------------------- specific tables ---------------------------- */
/*default*/
#defaultschedule {
	width: 75%;
	border-collapse: separate;
	cursor: pointer;
	background-color: var(--crust);
}
/* ------------------------------ options table ----------------------------- */
/* ------------------------------ info elements ----------------------------- */
#infocontainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 75%;
	margin: 10px auto auto auto;
	border-radius: 0.5rem;
}
#dayInfoContainer,
#periodInfoContainer {
	background-color: var(--base);
	border-radius: 0.5rem;
}

#dayInfo, #periodInfo {
	display: flex;
	justify-content: start;
	gap: 5px;
	padding: 0px 10px 0px 10px;
}
#dayInfo > div:has(h1) {
	min-width: 14rem;
}
/*make mobile friendly*/
@media only screen and (max-width: 600px) {
	#infocontainer > div > div > h1 {
		min-width: 7rem;
	}
}
