/* ---------------------------- specific elements --------------------------- */
#game {
    width: 100%;
    height: calc(100% - 26px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#optionscontainer {
    overflow: auto;
    width: 70%;
    padding: 1rem;
    background-color: var(--base);
    border-radius: 15px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#guesscontainer {
    border-radius: 15px;
    background-color: var(--base);
    height: 75%;
    aspect-ratio: 9/16;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#previousguesses {
    position: relative;
    top: 10px;
    width: 85%;
    height: min-content;
    border-radius: 15px;
    margin: unset;
}
/* --------------------------- submission elements -------------------------- */
#submissioncontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    bottom: 10px;
}
/* ------------------------------ start button ------------------------------ */
button#startbutton {
    background-color: var(--blue);
    transition: background-color 0.2s;
}
button#startbutton:hover {
    background-color: var(--mauve);
    transition: background-color 0.2s;
}
button#startbutton:active {
    background-color: var(--surface2);
    transition: background-color 0.1s;
}
#customnumberselection > h6, #customnumberselection > h2 {
    margin: 0 0 6px 0;
}