body,
html {
	font-family: "lexend", sans-serif;
}
hr {
	width: 50%;
	margin: 1px auto 1px auto !important;
}
span.title {
	margin: 5px auto 5px auto;
}
.page {
	height: 100%;
	border-bottom: 1px solid var(--text);
	margin: auto;
	aspect-ratio: 9/16;
	display: flex;
	flex-direction: column;
	align-items: start;
}
#content {
	width: 100%;
	height: calc(100% - 34px);
	position: relative;
	top: 34px;
}
#calendar {
}
.box {
	background-color: var(--mantle);
	border-radius: 0.5rem;
	padding: 5px;
	width: calc(50% - 10px);
	aspect-ratio: 1;
}
td {
	height: 4rem;
	min-width: 8rem;
	position: relative;
	text-align: center;
}
td.day::before {
	content: attr(data-day);
	font-size: 0.8em;
	color: var(--subtext0);
	position: absolute;
	top: 2px;
	left: 2px;
}
h1, h2, h3, h4, h5, h6, span.title {
	font-family: 'Google Sans'
}