@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
#title-container {
    background-color: #000;
    height: 250px;
    margin-bottom: 15%;
    transition: height .5s ease;
    
}
#title-typed {
    color: lightgray;
    text-align: center;
    font-family: 'Exo 2';
    font-size: 500%;
}
.typed-cursor {
    font-size: 500%;
    font-family: 'Exo 2';
    margin: auto;
    color: #fff;
    text-align: center;
}
.sideinfo {
    word-wrap: break-word;
    hyphens: auto;
}
#content {
    justify-content: center;
    text-align: center;
    hyphens: auto;
    word-wrap: break-word;
    color: #fff;
    margin: auto;
}
#axist {
    height: 500px;
}
#axis {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
}
#axisimg {
    margin-left: 100px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5d3fd3;
  border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
body, html {
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'exo 2';
    text-align: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 7.5s ease infinite;
    height: auto;
    overflow: auto;
}
    
@keyframes gradient {
    0% {
        background-position: 0 50%;
   }
    50% {
        background-position: 100% 50%;
   }
    100% {
        background-position: 0 50%;
   }
}