@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
#title-container {
    background-color: #000;
    height: 250px;
    margin-bottom: 15%;
    transition: height .5s ease;
    
}
#title-typed {
    color: lightgray;
    text-align: center;
    font-family: 'Exo 2';
    font-size: 500%;
}
.typed-cursor {
    font-size: 500%;
    font-family: 'Exo 2';
    margin: auto;
    color: #fff;
    text-align: center;
}
.sideinfo {
    word-wrap: break-word;
    hyphens: auto;
}
#content {
    justify-content: center;
    text-align: center;
    hyphens: auto;
    word-wrap: break-word;
    color: #fff;
    margin: auto;
}
#axist {
    height: 250px;
    text-align: right;
    margin-right: 100px;
}
span {
    font-size: 20px;
}
#randomimg {
    height: 250px;
    width: 400px;
    margin-left: 100px;
}
#currentimg {
    height: 250px;
    width: 400px;
    margin-left: 100px;
}
#currentst {
    text-align: right;
    margin-right: 100px;
}
#windpatterns {
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#projectiles {
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#oceancurrents {
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#footer {
    background: #000;
    color: #fff;
    position: absolute;
    width: 100%;
}
#projt {
    text-align: left;
    margin-left: 100px;
}
#axis {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#wpstuff {
    text-align: left;
    margin-left: 100px;
}
#axisimg {
    height: 250px;
    margin-left: 250px;
}
#projimg {
    height: 250px;
    margin-left: 455px;
    width: 400px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #5d3fd3;
  border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
body, html {
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'exo 2';
    text-align: center;
    justify-content: center;
    background: gray;
    height: auto;
    overflow: auto;
}
    
@keyframes gradient {
    0% {
        background-position: 0 50%;
   }
    50% {
        background-position: 100% 50%;
   }
    100% {
        background-position: 0 50%;
   }
}